.happy-code{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.happy-code img{
    width: 600px;
   
}
.happy-code h1{
    padding-bottom: 20px;
    text-align: center;
    margin-top: 150px;
}
.button{
    margin-left: 60px;
}
.details-btn{
    height: 50px;
    width: 200px;
    margin-left: 40px;
    margin-top: 50px;
}
