@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
.tital{
    /* padding-right: 750px; */
    color: rgb(236, 241, 243);
    font-weight: 700;
    font-family: 'Akronim', cursive;
    margin-right: 490px;
}
.nav-link{
    color: white;
}
.navbar{
    background-color:#078080;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    color: white;
    
}
.link{
    text-decoration: none;
    padding-left: 40px;
    color: white;
    margin-right: 8px;
}

/* 078080 */