.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #078080;
    margin-top: 10px;
    text-align: center;
}
.footer h3{
    color: white;
    margin: 30px;
    
}
.footer p{
    color: rgb(252, 245, 245);
}
.address{
    color: rgb(252, 245, 245);
}
.copy-right{
    text-align: center;
}